body {
    font-family: 'Montserrat';
    color: var(--color3);
    margin: 0;
    border: 0;
    background: #000000;
}

section {
    width: 100%;
    left: 100vh;

    padding-top: 1px;
    box-sizing: border-box;
}

:root {
    --color1: #0e3746;
    --color2: #eae8dc;
    --color3: #f4f2ec;
    --color4: #be2623;
    --black: #000000;

}

main {
    background-color: #000000;

}

/*Inicio*/
.in {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.101) 0, rgba(0, 0, 0, 0.795) 70%), url(Imagens/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.in h4 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
    padding-top: 30px;
}

.in h1 {
    font-size: 600%;
    font-weight: 4000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-right: 5%;

}

.in p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 77%;
    width: 55%;
}

/*Primero volume*/
.capaa {
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

.capaa img {
    flex-shrink: 0;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 13%;
    height: auto;
}

.capaa p {
    width: 40%;
    padding-top: 10%;
    font-size: 74%;
}

/*Fim Introsuçãp/primeira seção*/


/*Segunda seção/Lenda*/
.container {
    display: flex;
    align-items: center;
}

.secao2 {
    background: #000000;
    color: var(--color3);
    padding-top: 60px;

}

.decorative-line {
    border: 0;
    border-top: 4px solid rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    z-index: 5;


}

.secao2 h1 {
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;


}

.lendarogg {
    margin-left: 25%;
    width: 70%;
    border-radius: 15px;

}

.lendarogg p {
    font-size: 12px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.direi {
    float: right;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0%;
    height: 100vh;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.direi::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.589) 0%, rgba(0, 0, 0, 0.692) 100%);
    z-index: 2;
}


.direi img {
    height: 100%;
    width: auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.direi h1 {
    font-size: 40px;
    margin-right: -7%;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: right;
    color: white;
}

.direi h1 p {
    font-size: 15px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 3px;
}

.iza {
    padding: auto;
    background-color: #000000;
    border: 0px;
}

.texim {
    float: right;
}


nav {
    background: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}

.roger {
    border-top-left-radius: 40px;
    float: right;
}

.positioon {
    padding-top: 300px;
    position: relative;
}

div.lenda {
    padding: 20px;
    background-color: var(--color1);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 10px;
    width: 50%;
    text-align: justify;
}

.container {
    position: relative;
}

.container img {
    position: relative;
    z-index: 1;

}

.lufyroge {
    border-radius: 15px;
    margin-left: -170px;
    width: 330px;
    height: auto;
    margin-top: 300px;
    border: 3px solid rgba(0, 0, 0, 0.233);

}

.recompensa {
    padding: 10px;
}

.textosobre {

    width: 80%;
    border-radius: 15px;
    float: right;
    margin-right: 10%;
}

.textosobre h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}


.textosobre p {
    font-size: 13px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.imagemsobre {
    float: left;
    margin-left: 5%;
    margin-top: 0%;
    height: 100vh;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.imagemsobre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.267) 0%, rgba(0, 0, 0, 0.267) 100%);
    z-index: 2;
}


.imagemsobre img {
    height: 100%;
    width: auto;
    position: relative;
    z-index: 1;
    border-radius: 18px;
}

.tripulacao {
    background: #111111;
    padding: 1%;
    margin-top: 5%;
}

.tripulacao h1 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}

.tripulacao p {
    font-size: 13px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.lado {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: left;
    z-index: 2;
    height: 90%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
}


/* Apresentação */
.apresentação {
    width: 200px;
    height: 60%;
    border-radius: 10px;
    background: #FFF;
    margin: 27px;
    text-align: center;
    flex: 0 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* Alinhar conteúdo verticalmente */

}

.apresentação h3 {
    color: #44454F;
    font-size: 120%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.apresentação p {
    color: #766C6C;
    font-size: 90%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.apresentação img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

/* Estilização da barra de rolagem horizontal */
.lado::-webkit-scrollbar {
    width: 5px;/
}

.lado::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
}

.lado::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 10px;
}

.lado::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}